
.s1ImgBox{
    width: 270px;
    height: 320px;
    box-shadow: 12px 12px 0px 0px #ADBBC6;
}
.s1ImgBox>img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}
.s1ImgBox1{
    width: 300px;
    height: 350px;
    box-shadow: -12px -12px 0px 0px #ADBBC6;
}
.s1ImgBox1>img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}



.drum1{
    position: absolute;
    bottom: 15%;
    right: 30%;
}
.flute1{
    position: absolute;
    top: 45%;
    left: 60%;
}
.guitar1{
    position: absolute;
    top: 30%;
    right: 12%;
}